Done - Prefab
Done - Elevator lift, platform should move between floors with a 5 second delay at each level.
Done - Collectable
Done - Moving platform
In Progress - Ladder System
Done - Player Roll animation
Done - Idle Jump Animation
Done - Need to get the camera to move with Roll animation? Cinemachine Camera Follow