Done - Prefab
Done - Elevator lift, platform should move between floors with a 5 second delay at each level.
Collectable
Done - Moving platform
Ladder System
Done - Player Roll animation
Idle Jump Animation
In work - Need to get the camera to move with Roll animation? Cinemachine Camera Follow